/************************************ Icon box 03 ******************************/
.icon-box-03 .sub-wrapper {
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.icon-box-03 .icon-wrapper {
  float: none;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 40px auto 20px;
}
.icon-box-03 .sub-wrapper {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 108px;
  height: 108px;
  opacity: 0.62;
}
.icon-box-03 .livicon-evo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
.icon-box-03 .icon-wrapper:hover .sub-wrapper {
  opacity: 1;
}
.icon-box-03 .text-wrapper {
  text-align: center;
}
.icon-box-03 h4 {
  color: #2C3F50;
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 10px;
}
.icon-box-03 p {
  color:#90A4AE;
}
.icon-box-03 .icon-wrapper.bg1 {
  background-color: #80CBC4;
}
.icon-box-03 .icon-wrapper.bg1 .sub-wrapper {
  background-color: #80CBC4;
  border: 1px solid #80CBC4;
}
.icon-box-03 .icon-wrapper.bg1:hover .sub-wrapper {
  background-color: #26A69A;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg2 {
  background-color: #CE93D8;
}
.icon-box-03 .icon-wrapper.bg2 .sub-wrapper {
  background-color: #CE93D8;
  border: 1px solid #CE93D8;
}
.icon-box-03 .icon-wrapper.bg2:hover .sub-wrapper {
  background-color: #AB47BC;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg3 {
  background-color: #81D4FA;
}
.icon-box-03 .icon-wrapper.bg3 .sub-wrapper {
  background-color: #81D4FA;
  border: 1px solid #81D4FA;
}
.icon-box-03 .icon-wrapper.bg3:hover .sub-wrapper {
  background-color: #29B6F6;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg4 {
  background-color: #FFCC80;
}
.icon-box-03 .icon-wrapper.bg4 .sub-wrapper {
  background-color: #FFCC80;
  border: 1px solid #FFCC80;
}
.icon-box-03 .icon-wrapper.bg4:hover .sub-wrapper {
  background-color: #FFA726;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg5 {
  background-color: #B0BEC5;
}
.icon-box-03 .icon-wrapper.bg5 .sub-wrapper {
  background-color: #B0BEC5;
  border: 1px solid #B0BEC5;
}
.icon-box-03 .icon-wrapper.bg5:hover .sub-wrapper {
  background-color: #78909C;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg6 {
  background-color: #FF8A65;
}
.icon-box-03 .icon-wrapper.bg6 .sub-wrapper {
  background-color: #FF8A65;
  border: 1px solid #FF8A65;
}
.icon-box-03 .icon-wrapper.bg6:hover .sub-wrapper {
  background-color: #FF5722;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg7 {
  background-color: #B39DDB;
}
.icon-box-03 .icon-wrapper.bg7 .sub-wrapper {
  background-color: #B39DDB;
  border: 1px solid #B39DDB;
}
.icon-box-03 .icon-wrapper.bg7:hover .sub-wrapper {
  background-color: #7E57C2;
  border-color: #fff;
}
.icon-box-03 .icon-wrapper.bg8 {
  background-color: #81C784;
}
.icon-box-03 .icon-wrapper.bg8 .sub-wrapper {
  background-color: #81C784;
  border: 1px solid #81C784;
}
.icon-box-03 .icon-wrapper.bg8:hover .sub-wrapper {
  background-color: #4CAF50;
  border-color: #fff;
}
@media (min-width: 768px) {
  .icon-box-03 {
    margin: 20px 0 20px;
  }
  .icon-box-03 .icon-wrapper.right {
    float: right;
    margin-top: 2px;
    margin-left: 20px;
  }
  .icon-box-03 .text-wrapper.right {
    text-align: right;
  }
  .icon-box-03 .icon-wrapper.left {
    float: left;
    margin-top: 2px;
    margin-right: 20px;
  }
  .icon-box-03 .text-wrapper.left {
    text-align: left;
  }
}

/* ----------- */

.livicon-evo-holder svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden!important;
    width: 100%!important;
    height: 100%!important
}
.livicon-evo-holder svg * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.livicon-evo-error {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #c94242
}
.livicon-evo-error span {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-top: -4px
}
.livicon-evo-error acronym {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: help;
    color: #c94242;
    border-bottom: 1px dotted #c94242
}
.cbp-item-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.05)
}
#loadMore {
    font-size: 16px;
    font-weight: 300;
    padding: 12px 20px 12px 25px;
}

/********* Testimonials 01 **********/
.testimonials-01 {
  margin: 30px 0 0 0;
  background-color: #F7F7F7;
  padding: 20px 20px 20px 20px;
  border: 1px solid #eee;
}
.testimonials-01 h3 {
  margin-top: 15px;
}
.testimonials-01 h6 {
  color: #555;
  font-weight: 900;
}
.testimonials-01 p {
  color: #888;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .testimonials-01 .livicon-evo {
    width: 50%!important;
    margin: 0 auto;
  }
  .testimonials-01 h3 {
    text-align: center;
    margin-top: 10px;
  }
  .testimonials-01 h6 {
    text-align: center;
  }
}
